In [1]:
import pandas as pd
import john_wrangle as jw
import sys
sys.path.append('/Users/jongarcia/codeup-data-science/curriculum')

In [2]:
df = jw.get_file()

In [3]:
df.head()

,timestamp,curriculum_topic,user_id,cohort_id,ip_address
2018-01-26,09:55:03,/,1,8,97.105.19.61
2018-01-26,09:56:02,java-ii,1,8,97.105.19.61
2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8,97.105.19.61
2018-01-26,09:56:06,slides/object_oriented_programming,1,8,97.105.19.61
2018-01-26,09:56:24,javascript-i/conditionals,2,22,97.105.19.61

In [2]:
# The file appears to be space-separated and lacks headers, so we'll specify those
column_names = ['timestamp', 'curriculum_topic', 'user_id', 'cohort_id', 'ip_address']
df = pd.read_csv('/Users/jongarcia/codeup-data-science/curriculum/anonymized-curriculum-access.txt', delim_whitespace=True, names=column_names)

# Show the first few rows to verify the import
df.head()

,timestamp,curriculum_topic,user_id,cohort_id,ip_address
2018-01-26,09:55:03,/,1,8,97.105.19.61
2018-01-26,09:56:02,java-ii,1,8,97.105.19.61
2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8,97.105.19.61
2018-01-26,09:56:06,slides/object_oriented_programming,1,8,97.105.19.61
2018-01-26,09:56:24,javascript-i/conditionals,2,22,97.105.19.61

In [1]:
import os

# Set the working directory to the directory containing your notebook
os.chdir('/Users/jongarcia/codeup-data-science/curriculum')

# Now you can read the CSV file without specifying a full path
import pandas as pd

# The file appears to be space-separated and lacks headers, so we'll specify those
column_names = ['timestamp', 'curriculum_topic', 'user_id', 'cohort_id', 'ip_address']
df = pd.read_csv("anonymized-curriculum-access.txt", delim_whitespace=True, names=column_names)

# Show the first few rows to verify the import
df.head()

,timestamp,curriculum_topic,user_id,cohort_id,ip_address
2018-01-26,09:55:03,/,1,8,97.105.19.61
2018-01-26,09:56:02,java-ii,1,8,97.105.19.61
2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8,97.105.19.61
2018-01-26,09:56:06,slides/object_oriented_programming,1,8,97.105.19.61
2018-01-26,09:56:24,javascript-i/conditionals,2,22,97.105.19.61

In [2]:
import john_wrangle as jw

In [3]:
jw.create_info_dataframe(df)

,timestamp,curriculum_topic,user_id,cohort_id,ip_address
2018-01-26,09:55:03,/,1,8,97.105.19.61
2018-01-26,09:56:02,java-ii,1,8,97.105.19.61
2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8,97.105.19.61
2018-01-26,09:56:06,slides/object_oriented_programming,1,8,97.105.19.61
2018-01-26,09:56:24,javascript-i/conditionals,2,22,97.105.19.61