In [1]:
import pandas as pd
import john_wrangle as jw
import sys
sys.path.append('/Users/jongarcia/codeup-data-science/curriculum')

In [2]:
df = jw.get_file()

In [3]:
df.head()

,date,time,path,user_id,cohort_id,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [4]:
jw.create_info_dataframe(df)

,Column,Null_Count,Null_Percentage,Zero_Count,Blank_Count,Unique_Values,Data_Type
0,date,0,0.0,0,0,1182,object
1,time,0,0.0,0,0,73167,object
2,path,1,0.0,0,0,2313,object
3,user_id,0,0.0,0,0,981,int64
4,cohort_id,52893,6.0,0,0,47,float64
5,ip,0,0.0,0,0,5531,object

In [5]:
df.head()

,date,time,path,user_id,cohort_id,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [6]:
df['cohort_id']

0          8.0
1          8.0
2          8.0
3          8.0
4         22.0
          ...
900218    28.0
900219    28.0
900220    28.0
900221    28.0
900222    28.0
Name: cohort_id, Length: 900223, dtype: float64

In [7]:
df['cohort_id'].unique()

array([  8.,  22.,  21.,   1.,  16.,  18.,  19.,  nan,  13.,  14.,  15.,
         7.,   4.,  12.,  17.,  23.,   2.,   9.,  11.,  24.,  25.,  26.,
         6.,  27.,  28.,  29.,  31.,  32.,  33.,  34.,  51.,  52.,  53.,
        55.,  56.,  57.,   5.,  58.,  59.,  61.,  62., 132., 134., 133.,
       135., 138., 137., 139.])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       900223 non-null  object
 1   time       900223 non-null  object
 2   path       900222 non-null  object
 3   user_id    900223 non-null  int64
 4   cohort_id  847330 non-null  float64
 5   ip         900223 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 41.2+ MB

In [9]:
df[df['cohort_id'].isna()]

,date,time,path,user_id,cohort_id,ip
411,2018-01-26,16:46:16,/,48,NaN,97.105.19.61
412,2018-01-26,16:46:24,spring/extra-features/form-validation,48,NaN,97.105.19.61
425,2018-01-26,17:54:24,/,48,NaN,97.105.19.61
435,2018-01-26,18:32:03,/,48,NaN,97.105.19.61
436,2018-01-26,18:32:17,mysql/relationships/joins,48,NaN,97.105.19.61
...,...,...,...,...,...,...
899897,2021-04-21,12:49:00,javascript-ii,717,NaN,136.50.102.126
899898,2021-04-21,12:49:02,javascript-ii/es6,717,NaN,136.50.102.126
899899,2021-04-21,12:51:27,javascript-ii/map-filter-reduce,717,NaN,136.50.102.126
899900,2021-04-21,12:52:37,javascript-ii/promises,717,NaN,136.50.102.126
899902,2021-04-21,12:56:26,javascript-ii/RESTful-api,717,NaN,136.50.102.126

In [10]:
df[df['path'] == '/']

              date      time path  user_id  cohort_id              ip
0       2018-01-26  09:55:03    /        1        8.0    97.105.19.61
12      2018-01-26  10:00:37    /        6       22.0    97.105.19.61
30      2018-01-26  10:14:47    /       11        1.0    97.105.19.61
32      2018-01-26  10:14:53    /        6       22.0    97.105.19.61
39      2018-01-26  10:18:22    /       10       21.0    97.105.19.61
...            ...       ...  ...      ...        ...             ...
900115  2021-04-21  15:32:26    /      875      135.0  24.242.150.231
900125  2021-04-21  15:41:45    /      887      135.0   107.77.169.13
900151  2021-04-21  16:01:11    /      841      133.0  99.162.244.233
900153  2021-04-21  16:04:02    /       64       28.0   71.150.217.33
900190  2021-04-21  16:23:53    /      143      133.0  173.174.194.60

[50313 rows x 6 columns]

In [11]:
df.path.unique()

array(['/', 'java-ii', 'java-ii/object-oriented-programming', ...,
       'florence-python-assessment.html', 'javascript-i/dom',
       'appendix/professional-development/post-interview-review-form'],
      dtype=object)

In [12]:
max_slashes = df['path'].apply(lambda x: x.count('/')).max()
max_slashes

AttributeError: 'float' object has no attribute 'count'

In [13]:
pd.set_option('display.max_colwidth', None)

In [14]:
# Now, let's filter the rows where the 'path' has more than 5 slashes.
df[df['path'].apply(lambda x: x.count('/')) > 5]

AttributeError: 'float' object has no attribute 'count'